page-provider-ok {
    img {
        width: 100%;
    }
    .centrarIcon {
        width: 100%;
        ion-icon.icon-ok {
            font-size: 90px;
            color: $Green;
            margin: 20px auto;
            width: 74px;
            display: block;
        }
    }
    p {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        span {
            color: $Red;
            font: 16px;
        }
    }
    .btnBottom {
        margin-top: 40px;
    }
}