page-service-info {
    .imageFull{width: 100%; height: auto;}
    .imagenContent{position: relative; height: 100px;}
    .contenedor{
        position: absolute;
        top:2px;
        width: 100%;
        .imagenUser{ width: 60px; height: 60px; margin-top:12px; border-radius:40px;}
        p,h3{text-align: right;}
        h3{ color: $Red; font-weight: bold; }
    }
    ion-footer ion-toolbar {
        .btnBottom{
            width: 80%;
            margin: auto;
            button{
                background: $Red;
                color:white;
                margin:0;
                width: 100%;
                height: 48px;
                border-radius: 5px;
            }
        }
    }
    .tituloCondator{
        text-align: center;
        color: $GrayText;
    }
    .contador{
        text-align: center;
        color:$Red;
    }
}