page-my-services {
    strong {
        color: $Red;
    }
    .btnItem {
        border-bottom: 1px solid $Gray;
        padding: 0;
    }
    .list-md .item-block .item-inner,
    .list-ios .item-block .item-inner {
        padding: 0;
    }
    .label.label-md,
    .label.label-ios {
        padding: 5px 0;
    }
}